---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import FirstScreen from '../components/FirstScreen.astro';
import Github from '../utils/Github';
import knowledge from '../content/knowledge/index.json';
import Footer from '../components/Footer.astro';
import goldMedal from '../assets/goldMedal.svg';
import silverMedal from '../assets/silverMedal.svg';
import bronzeMedal from '../assets/bronzeMedal.svg';

/* -------------------------------------------------------------------------- */
interface IBadgeCount {
  gold: number;
  silver: number;
  bronze: number;
}
interface IStackOverflowData {
  badge_counts: IBadgeCount;
  reputation: number;
}

const github = new Github();
const repoNames = ['OhMyZsh-full-autoupdate', 'MacSync', 'vscode-npm-lens-support', 'sleep-sleep'];

const dataRepos = await Promise.all(
  repoNames.map(async (repoName) => {
    const data = await github.getData(repoName);
    const lastVersion = await github.getLastVersion(repoName);
    return {
      name: data.name,
      description: data.description,
      url: data.html_url,
      version: lastVersion.tag_name,
    };
  })
);

const siteTestData = [
  {
    name: 'Performance',
    point: 100,
  },
  {
    name: 'Accessibility',
    point: 100,
  },
  {
    name: 'Best Practices',
    point: 100,
  },
  {
    name: 'SEO',
    point: 100,
  },
];

const res = await fetch(
  'https://api.stackexchange.com/2.3/users/441282?order=desc&sort=reputation&site=ru.stackoverflow'
);
const data = (await res.json()) as { items: IStackOverflowData[] };
const { badge_counts, reputation } = data.items[0];
console.log('reputation:', reputation);
---

<Layout
  title="Mark Fish | Full-stack developer"
  description="Hello! I am Mark Fish (Pilaton) — I'm in business, bringing various ideas to life and solving business problems. I optimize everything and anything."
>
  <main>
    <FirstScreen />

    <div class="container mx-auto max-w-4xl px-4 pt-20">
      <section class="about-me descr_p mb-20">
        <h2 class="mb-5 text-[2rem] font-semibold">About me</h2>
        <p class="mb-2 text-18 text-descr">
          Full-stack developer. I write, launch, optimize, automate. I do business and mostly my own
          projects. I post useful solutions in opensource. <br />
           In my spare time, I help other developers with code.
        </p>
        <p class="mb-2 text-18 text-descr">
          If you have something of interest to me - drop me a message, don't be shy!
        </p>

        <hr class="my-8" />

        <div class="flex flex-wrap items-center justify-between gap-x-8 gap-y-6">
          <div class="link_list flex gap-5">
            <a
              href="https://github.com/Pilaton"
              rel="noopener"
              target="_blank"
              class="flex items-center gap-1 border-b border-dotted border-current text-descr hover:opacity-80"
            >
              <Icon name="bi:github" class="h-4" /> GitHub
            </a>
          </div>
          <div class="flex flex-wrap items-center gap-x-8 gap-y-4 text-descr">
            <a
              href="https://ru.stackoverflow.com/users/441282/pilaton?tab=profile"
              rel="noopener"
              target="_blank"
              class="flex items-center gap-1 border-b border-dotted border-current hover:opacity-80"
            >
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 120 120">
                <path fill="#bcbbbb" d="M84.4 93.8V70.6h7.7v30.9H22.6V70.6h7.7v23.2z"></path>
                <path
                  fill="#f48023"
                  d="m38.8 68.4 37.8 7.9 1.6-7.6-37.8-7.9-1.6 7.6zm5-18 35 16.3 3.2-7-35-16.4-3.2 7.1zm9.7-17.2 29.7 24.7 4.9-5.9-29.7-24.7-4.9 5.9zm19.2-18.3-6.2 4.6 23 31 6.2-4.6-23-31zM38 86h38.6v-7.7H38V86z"
                ></path>
              </svg>
               StackOverflow
            </a>

            <div class="flex items-center gap-6">
              <div class="flex items-center gap-1">
                <span>{reputation}</span>
              </div>
              <div class="flex items-center gap-1">
                <Image src={goldMedal} alt="stackOverflow" class="w-8" />
                <span>{badge_counts.gold}</span>
              </div>
              <div class="flex items-center gap-1">
                <Image src={silverMedal} alt="stackOverflow" class="w-8" />
                <span>{badge_counts.silver}</span>
              </div>
              <div class="flex items-center gap-1">
                <Image src={bronzeMedal} alt="stackOverflow" class="w-8" />
                <span>{badge_counts.bronze}</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-20">
        <h2 class="mb-5 text-[2rem] font-semibold">My Open Source projects</h2>
        <div class="flex flex-wrap gap-5">
          {
            dataRepos.map((repo) => (
              <div class="min-w-[310px] flex-auto basis-0 rounded-lg bg-white p-5 shadow-sm">
                <a
                  href={repo.url}
                  rel="noopener"
                  target="_blank"
                  class="flex text-brand-text hover:opacity-80"
                >
                  <div class="mb-2 text-xl font-medium">{repo.name}</div>
                </a>

                <p class="mb-4 text-descr">{repo.description}</p>

                <div class="flex items-center gap-3 text-descr">
                  <div class="text-sm">{repo.version}</div>
                  <Icon name="bi:github" class="h-4" />
                </div>
              </div>
            ))
          }
        </div>
      </section>

      <section class="mb-20">
        <h2 class="mb-5 text-[2rem] font-semibold">Knowledge base</h2>
        <div class="flex flex-wrap gap-4">
          {
            Object.entries(knowledge)
              .sort()
              .map(([name, imageName]: [name: string, imageName: string]) => (
                <div class="flex flex-auto items-center gap-2 rounded-[.5rem] bg-white px-[10px] py-[6px] text-descr shadow-sm">
                  <Image src={`/img/icons/${imageName}.svg`} alt={name} width={30} height={30} />{' '}
                  {name}
                </div>
              ))
          }
          <div
            class="flex items-center rounded-xl bg-white px-[10px] py-[6px] text-descr shadow-sm"
          >
            Other...
          </div>
        </div>
      </section>

      <section class="mb-20">
        <h2 class="mb-5 text-[2rem] font-semibold">Contacts</h2>
        <div class="grid sm:grid-cols-2">
          <div class="pl-9">
            <div class="mb-5 text-descr">
              <div class="relative mb-1 flex items-center text-black">
                <Icon name="akar-icons:envelope" class="absolute -left-9 h-5 text-brand-text" />
                 Email
              </div>
              <div class="flex items-center text-inherit">
                pilaton.ever<Icon name="eva:at-fill" class="h-4 text-brand-text" />aleeas.com
              </div>
            </div>
          </div>

          <form action="https://getform.io/f/4d979b45-9c5f-4057-a5c6-c0f15ec4fd17" method="POST">
            <input
              type="email"
              name="email"
              placeholder="Your email"
              required
              class="mb-4 w-full rounded-lg border-2 border-solid border-[#e2ebff] px-3 py-2 shadow-sm"
            />
            <textarea
              rows="5"
              name="message"
              placeholder="Message..."
              required
              class="mb-4 w-full rounded-lg border-2 border-solid border-[#e2ebff] px-3 py-2 shadow-sm"
            ></textarea>
            <button
              type="submit"
              class="w-full rounded-lg bg-brand px-3 py-2 text-white hover:opacity-90">Send</button
            >
          </form>
        </div>
      </section>

      <hr />

      <section class="mb-20">
        <h3 class="mb-2 mt-12 text-center text-[2rem] font-semibold">Optimizing this site</h3>
        <p class="mb-9 text-center text-descr">Data provided by Google Lighthouse</p>

        <div class="mx-auto grid max-w-lg auto-rows-auto grid-cols-4">
          {
            siteTestData.map((item) => (
              <div class="flex flex-col items-center text-center">
                <div class="flex h-16 w-16 items-center justify-center rounded-full border-[5px] border-solid border-[#0c6] bg-[#ecfaf0] text-2xl text-[#00a251]">
                  {item.point}
                </div>
                <div class="mt-3 text-[15px]">{item.name}</div>
              </div>
            ))
          }

          <div
            class="limits col-span-full mx-auto mb-0 mt-8 inline-flex gap-3 rounded-[20px] border border-solid border-[#e0e0e0] p-2"
          >
            <div class="item triangle">0-49</div>
            <div class="item square">50-89</div>
            <div class="item circle">90-100</div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <Footer />
</Layout>
<style lang="scss">
  .item {
    margin: 0 12px;
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
    &.triangle:before {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 12px solid #ff4e42;
    }
    &.square:before {
      background: #fea400;
    }
    &.circle:before {
      background: #09ce6a;
      border-radius: 50%;
    }
  }
</style>
